<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>VUE.JS CRASH COURSE APP</title>
</head>

<body>
    <div id="app">
        <img :class="gender" v-bind:src="photo" v-bind:alt="`${fisrtName} ${lastName}`">
        <h1>Hello, {{firstName}} {{lastName}}!</h1>
        <h3>Age: {{age}}</h3>
        <h3>Gender: {{gender}}</h3>
        <h3>Email: {{email}}</h3>
        <button v-on:click="getUser()" :class="gender">Get Random User</button>
    </div>
    <script src="https://unpkg.com/vue@3.1.4"></script>
    <script src="app.js"></script>
</body>

</html>